@model PruebaGym2.Models.TipoMaquina

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>TipoMaquina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTipoMaquina">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
